nav a {
	position: absolute;
	top: 50;
	display: block;
	outline: none;
	text-align: left;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

nav a.prev {
	left: 0;
}

nav a svg {
	display: block;
	margin: 0 auto;
	padding: 0;
}

.nav-fillpath {
    max-height: 20px;
}

.nav-fillpath a {
	width: 50px;
	height: 50px;
}

.nav-fillpath .icon-wrap {
    
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.nav-fillpath a::before,
.nav-fillpath a::after,
.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
    
	position: absolute;
	left: 50%;
	width: 3px;
	height: 50%;
	background: #566475;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
	z-index: 100;
	height: 0;
	/* background: white; */
	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, transform 0.3s;
}

.nav-fillpath .timeline::before, .nav-fillpath .timeline::after {background: #ffcdb2;}
.nav-fillpath .graph::before, .nav-fillpath .graph::after {background: #ffb4a2;}
.nav-fillpath .basics::before, .nav-fillpath .basics::after {background: #e5989b;}
.nav-fillpath .heatmap::before, .nav-fillpath .heatmap::after {background: #b5838d;}
.nav-fillpath .sunburst::before, .nav-fillpath .sunburst::after {background: #6d6875;}


.nav-fillpath a::before,
.nav-fillpath .icon-wrap::before {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-135deg);
	transform: translateX(-50%) rotate(-135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.nav-fillpath a::after,
.nav-fillpath .icon-wrap::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}


.nav-fillpath div {
	position: absolute;
	top: 50%;
	margin: 0;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
	color: #777;
	text-transform: uppercase;
	font-size: 0.85em;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.nav-fillpath a.prev div {
	left: 100%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.nav-fillpath a:hover .icon-wrap::before,
.nav-fillpath a:hover .icon-wrap::after {
	height: 50%;
}

.nav-fillpath a:hover::before,
.nav-fillpath a:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(-125deg);
	transform: translateX(-50%) rotate(-125deg);
}


.nav-fillpath a:hover::after,
.nav-fillpath a:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(-55deg);
	transform: translateX(-50%) rotate(-55deg);
}

.nav-fillpath a:hover div {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(0);
	transform: translateY(-50%) translateX(0);
}
