@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);

:root{
    --basics-color:#ffcdb2;
    --timeline-color:#ffb4a2;
    --graph-color:#e5989b;
    --heatmap-color:#b5838d;
    --sunburst-color:#6d6875;
    --selected-color: #CA7777;
}

body {
background-color: #fff;
  /* display:flex; */
  margin: 0;
  width: 100%;
  height: 100%;
}

section {
        width: 100%;
        height: 100vh;
        position: relative;
        /* background-image: url(https://cdn.hipwallpaper.com/i/54/29/DpJ4Ug.jpg); */
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

#intro{
  background-image: url(https://cdn.hipwallpaper.com/i/54/29/DpJ4Ug.jpg);
  padding: 50px;
  justify-content: flex-end;
  align-items: flex-start;
}
#section1, #section2{
    background-color: "white";
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: "Work Sans", sans-serif;
    letter-spacing: 6px;
    color: #aaa;
    font-weight: 300;
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 10;
    padding: 30px;
    opacity: 0;
}

.desc{
    font-family: "Work Sans", sans-serif;
    /* letter-spacing: 6px; */
    color: #aaa;
    font-weight: 300;
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    text-decoration: none;
    z-index: 10;
    /* padding: 30px; */
    padding-bottom: 10%;
    width:40%;
}
.desc-title{
    opacity: 0;
    margin-bottom: 20px;
}
.desc-text{
    opacity: 0;
}


#intro .title {
    color:#fff;
    border-color: #fff;
}

button{
    position:relative;
    display:inline-block;
    height:38px;
    padding:0 30px;
    color:#555;
    text-align:center;
    font-size:11px;
    font-weight:600;
    line-height:38px;
    letter-spacing:.1rem;
    text-transform:uppercase;
    text-decoration:none;
    white-space:nowrap;
    background-color:transparent;
    border-radius:4px;
    border:1px solid #bbb;
    cursor:pointer;
    box-sizing:border-box;
    margin-top: 10px;
    margin-left: 10px;
}

button:hover{color:#333;border-color:#888;outline:0}

button:active{
    color:#FFF;
    background-color:#1EAEDB;
    border-color:#1EAEDB;
}
.button-primary{
    color:#FFF;
    background-color:#33C3F0;
    border-color:#33C3F0;
}
.button-primary:focus, .button-primary:hover{color:#FFF;background-color:#1EAEDB;border-color:#1EAEDB}


/* ====================================
Scroll icon 
==================================== */
.scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 75px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
  }
  .scroll > label {
    pointer-events: none;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.1rem;
    color: #777;
}
.scroll.light > label {
    color: #fff;
}

.scroll.mouse {
    height: 100px;
}
.scroll.mouse span {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 60px;
    border: 2px solid #444;
    border-radius: 50px;
    top: 5px;
}
.scroll.mouse.light span {
    border-color:#fff;
}
  
/* Effect 3 */
.scroll.mouse.effect1 span::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #444;
    /* animation: animateMousePointerDown 1.5s infinite; */
}
.scroll.down.mouse.effect1 span::after {
    animation: animateMousePointerDown 1.5s infinite;
}
.scroll.up.mouse.effect1 span::after {
    animation: animateMousePointerUp 1.5s infinite;
}

.scroll.mouse.effect1.light span::after {
    background: #fff;

}

@keyframes animateMousePointerDown {
    0% {
    transform: translateY(0);
    }
    50% {
    opacity: .7;
    }
    100% {
    opacity: 0;
    transform: translateY(20px);
    }
}
@keyframes animateMousePointerUp {
    0% {
    transform: translateY(20px);
    }
    50% {
    opacity: .7;
    }
    100% {
    opacity: 0;
    transform: translateY(0px);
    }
}
  
/* ====================================
Navigation 
==================================== */

.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0);
  transform: translateY(-100%);
}

.overlay-slide-down {
  transition: all .4s ease-in-out;
  transform: translateY(0)
}

.overlay-slide-up {
  transition: all .8s ease-in-out;
  transform: translateY(-100%)
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transform: translateY(-100%);
  padding: 10px;
}

nav li a {
  position: relative;
  top: 46%;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9rem;
}

nav li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  opacity: 0;
  transition: all .2s linear;
}

nav li a:after {
  content: attr(data-content);
  font-size: 1rem;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}

nav li a:hover:before {
  transform: translateX(-10px);
  opacity: 1;
}

nav li a:hover:after {
  transform: translateY(15px);
  opacity: 1;
}

nav li:nth-of-type(1){background-color: var(--basics-color); transition: 1s;}
nav li:nth-of-type(2){background-color: var(--timeline-color); transition: 1s;}
nav li:nth-of-type(3){background-color: var(--graph-color); transition: 1s;}
nav li:nth-of-type(4){background-color: var(--heatmap-color); transition: 1s;}
nav li:nth-of-type(5){background-color: var(--sunburst-color); transition: 1s;}

nav li:nth-of-type(1):hover{background-color: var(--selected-color);}
nav li:nth-of-type(2):hover{background-color: var(--selected-color);}
nav li:nth-of-type(3):hover{background-color: var(--selected-color);}
nav li:nth-of-type(4):hover{background-color: var(--selected-color);}
nav li:nth-of-type(5):hover{background-color: var(--selected-color);}


.slide-in-nav-item {
  animation: slide-in-nav-item 0.4s linear 1 .2s both;
}

.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.4s linear 1 .4s both;
}

.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.4s linear 1 .6s both;
}

.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.4s linear 1 .8s both;
}

.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.4s linear 1 1s both;
}

.slide-in-nav-item-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .5s both;
}

.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
}

.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .3s both;
}

.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .2s both;
}

.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 both;
}

/* ====================================
Animation keyframes
==================================== */

@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@media (max-width: 640px) {
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 15px;
  }
}